<ion-view title='<img class="title-image" src="../img/ck.png" /> <span class="logo">Articles récents</span>' >
  <ion-content>
    <ul class="curl list">
      <ion-item class="item-remove-animate item item-thumbnail-left item-icon-right article-background" ng-repeat="article in articles | orderBy : 'oneLineBasedTitle'" type="item-text-wrap" href="#/tab/last-articles/{{article.$$hashKey}}">
        <img ng-src="{{article.imageOld || article.imageSmall}}">
        <h2 class="title">{{article.title | uppercase}}</h2>
        <p class="article">{{article.description}}</p>
        <p class="author">{{article.author}}</p>
        <p class="date">
          Posté: {{formatDate(article.date)}} -
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(article)">
          Delete
        </ion-option-button>
      </ion-item>
    </ul>
  </ion-content>
</ion-view>
