
<ion-view title='<img class="title-image" src="../img/ck.png" /> <span class="logo">Accueil</span>' >
  <ion-content class="padding">
    <h2 >
      Bienvenue sur l'appli My Critikat
    </h2>

    <p class="detail-article-critikat">
      Le site de critiques de films : des critiques, dossiers, analyses, interview retro, dvd, festivals...
    </p>
    <p class="detail-article-critikat">
      Accédez directement aux dernières critiques en ligne
    </p>
    <p class="detail-article-critikat">
      Sélectionnez et préservez vos articles favoris
    </p>
  </ion-content>
</ion-view>
