ul {
    background-color: #f8f8f8;
}

ul > :nth-child(odd) > :first-child {
    background-color: rgba(128, 128, 128, 0.07);
}

video {
    width: 59%;
}

h2.title {
    color: black;
    text-shadow: 1px 1px 1px grey;
    padding-top: 2px;
}

/* Empty. Add your own CSS if you like */
span.logo {
	float: right;
}


p.article {
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 14px;
    max-height: 28px;
    text-align: justify;
}

p.date {
float: right;
    /* bottom: 6px; */
    top: 20px;
    position: relative;
    /* top: 17px; */
    font-style: italic;
    font-size: 12px;
}

p.author {
    bottom: 6px;
    position: absolute;
    color: #418b9b;
}

/* Empty. Add your own CSS if you like */
p.detail-article-critikat {
	text-align: justify;
	color: #8a8a8a;
}